body {
  font-family: sans-serif;
  margin: 2em;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  box-sizing: border-box;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 0.25em;
}

button {
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
